.dashboardLayout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;
  
}

.menu {
  flex: 1;
  
}

.content, .chatList {
  flex: 4;
  position: relative;
  background: black;
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
 
}





  .chat-container {
    width: 90%;
    max-width: 2000px;
    margin: 20px auto;
    background: #181818;
    border-radius: 20px;
    padding: 15px;
    color: rgb(255, 255, 255);
    /* height: 850px; */
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #424242;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #d9d9d9;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: #424242;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 15px;
  }
  
  .search-icon {
    margin-right: 8px;
    font-size: 20px;
    color: white;
  }
  
  .search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
  }
  
  .chat-title {
    margin: 10px 0;
    font-weight: 500;
  }
  
  .chat-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 620px;
    overflow-y: auto;
    padding-right: 15px;

  }

  .chat-list::-webkit-scrollbar {
    width: 6px;
  }
  
  .chat-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
  }
  
  .chat-list::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .chat-card {
    background-color: #3b3b3b;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: start;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-card:hover {
    background-color: #960096;
  }
  
  .chat-icon {
    font-size: 20px;
    margin-top: 3px;
  }
  
  .chat-info p {
    font-size: 12px;
    color: #ccc;
    margin-top: 4px;
  }